**
!.dockerignore
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!packages/
!packages/core/
!packages/core/package.json
!packages/core/tsconfig.json
!packages/core/tsconfig.build.json
!packages/core/src/
!packages/core/src/audience/
!packages/core/src/audience/evaluate.ts
!packages/core/src/audience/expression.ts
!packages/core/src/audience/legacy.ts
!packages/core/src/campaign-effects.ts
!packages/core/src/channels.ts
!packages/core/src/db-types.ts
!packages/core/src/delivery-effects.ts
!packages/core/src/image-file.ts
!packages/core/src/index.ts
!packages/core/src/media-store.ts
!packages/core/src/messages.ts
!packages/core/src/pages.ts
!packages/core/src/presentation.ts
!packages/core/src/targeting.ts
!packages/core/src/traits.ts
!packages/server/
!packages/server/package.json
!packages/server/schema.sql
!packages/server/tsconfig.json
!packages/server/tsconfig.build.json
!packages/server/src/
!packages/server/src/app.ts
!packages/server/src/audience.ts
!packages/server/src/cli.ts
!packages/server/src/local-media-store.ts
!packages/server/src/local-product.ts
!packages/server/src/media-handler.ts
!packages/server/src/node-adapter.ts
!packages/server/src/operations.ts
!packages/server/src/postgres-product.ts
!packages/server/src/request-body.ts
!packages/server/src/router.ts
!packages/server/src/server-config.ts
!packages/contracts/
!packages/contracts/LICENSE
!packages/contracts/package.json
!packages/contracts/tsconfig.json
!packages/contracts/src/
!packages/contracts/src/validate.ts
!packages/contracts/src/index.ts
!packages/push/
!packages/push/LICENSE
!packages/push/package.json
!packages/push/tsconfig.build.json
!packages/push/tsconfig.json
!packages/push/src/
!packages/push/src/engine.ts
!packages/push/src/content.ts
!packages/push/src/providers.ts
!packages/push/src/types.ts
!packages/push/src/index.ts
!packages/core/src/management-contract.ts
!packages/core/src/installation-store.ts
!packages/core/src/installations.ts
!packages/server/conformance-budget.json
!packages/server/cloud-operations.json
!packages/server/vitest.config.ts
!packages/server/upgrades/
!packages/server/upgrades/push.sql
!packages/server/upgrades/installations.sql
!packages/server/src/push.ts
!packages/server/src/management-contract.ts
!packages/server/src/management-client.ts
!packages/server/src/installations.ts
!packages/server/src/push-worker.ts
!packages/dashboard/
!packages/dashboard/package.json
!packages/react/
!packages/react/package.json
!packages/server/src/runtime.ts
!packages/push/src/storage.ts
!packages/push/src/identity.ts
!packages/push/src/recovery.ts
!packages/contracts/src/entry.ts
!packages/core/src/inapp.ts
!packages/server/upgrades/inapp.sql
