{
  "openapi": "3.1.0",
  "info": {
    "title": "Galinum API",
    "version": "2026-08-22",
    "description": "Galinum's HTTP API. The SDK endpoints power the browser SDK. Management endpoints use a project secret; Galinum's hosted agent uses a scoped pk_agent_ credential and can mutate campaigns only through lease-fenced evaluation routes. Some Hosted agent and Usage operations are available only in managed Galinum Cloud; the self-host server returns 501 for those operations."
  },
  "servers": [
    {
      "url": "https://galinum.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "publishableKey": []
    }
  ],
  "paths": {
    "/api/v1/identify": {
      "post": {
        "operationId": "identifyUser",
        "summary": "Identify a user",
        "description": "Upserts an end-user by your own user id and shallow-merges traits: sending one trait updates it without wiping the rest. Galinum enriches traits server-side with `$country`, `$region`, and `$city` resolved from the request IP.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "maxLength": 256,
                    "description": "Your product's id for this user.",
                    "example": "user_123"
                  },
                  "traits": {
                    "$ref": "#/components/schemas/Traits"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": false,
          "reason": "browser-sdk"
        }
      }
    },
    "/api/v1/track": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track an event",
        "description": "Records a behavioral event for a user — the substrate Galinum's agents analyze for campaign targeting. Tracking implicitly upserts the user, so it is safe to call for users not yet identified. When the event name matches the targetEvent of a goal linked to a campaign (via goalId), exposed deliveries resolve to converted automatically. Exposure is shownAt for web in-app and deliveredAt for email.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "event"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "maxLength": 256,
                    "example": "user_123"
                  },
                  "event": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "Event name. Use stable, snake_case names.",
                    "example": "activated_workspace"
                  },
                  "props": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional event properties (max 4 KB serialized). The browser SDK adds `$current_url` and `$pathname` automatically.",
                    "example": {
                      "workspaceId": "ws_1",
                      "$pathname": "/onboarding"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": false,
          "reason": "browser-sdk"
        }
      }
    },
    "/api/v1/messages": {
      "get": {
        "operationId": "getMessages",
        "summary": "Get eligible in-app messages",
        "description": "Returns up to 100 in-app messages the user is currently eligible for. Galinum evaluates every window-eligible running campaign's targeting against the user's traits and event history, assigns an A/B variant (stable per user, weighted), and creates a delivery record in the queued state. Fetching does NOT count as an impression: report `shown` delivery feedback when the message actually renders (the React SDK does this automatically). A user gets each campaign at most once; resolved deliveries (clicked, dismissed, converted) don't come back. Pass `pages=1` to receive page-targeted campaigns and each message's `pages` patterns; the client is then responsible for matching them against the current path. If more than 100 campaigns need evaluation, the server returns 503 instead of partially serving them.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "Your product's id for this user.",
            "example": "user_123"
          },
          {
            "name": "pages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "Declares that this client matches page patterns itself. Without it, page-targeted campaigns are withheld (fail closed) and no message carries `pages`.",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "The user's eligible messages (may be empty).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messages"
                  ],
                  "properties": {
                    "messages": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/InAppMessage"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "description": "More than 100 campaigns require evaluation, or bounded audience facts exceed local capacity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mcp": {
          "exposed": false,
          "reason": "browser-sdk"
        }
      }
    },
    "/api/v1/deliveries/{id}/event": {
      "post": {
        "operationId": "recordDeliveryEvent",
        "summary": "Report delivery feedback",
        "description": "Records what the user did with a delivered message. `shown` marks the impression when the message actually renders, without resolving the delivery; `clicked`, `dismissed`, and `converted` resolve it — the message stops being returned for that user — and feed Galinum's per-variant measurement. converted also resolves automatically when a tracked event matches the targetEvent of the goal linked to the campaign (via goalId).",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "The delivery id from the message payload.",
            "example": "del_55911a77-b793-4be8-992b-25b706520597"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "shown",
                      "clicked",
                      "dismissed",
                      "converted"
                    ],
                    "description": "shown = the message actually rendered (the impression; sent automatically by the React SDK — custom consumers must send it when they display the message, or it never counts as shown); clicked = engaged with the CTA; dismissed = closed the message; converted = completed the campaign's goal."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No delivery with this id exists for the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Delivery not found"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": false,
          "reason": "browser-sdk"
        }
      }
    },
    "/api/v1/campaign-media": {
      "post": {
        "operationId": "uploadCampaignMedia",
        "summary": "Upload campaign media",
        "security": [
          {
            "secretKey": []
          }
        ],
        "description": "Uploads an image to attach to a campaign message. Send `multipart/form-data` with a single `file` field: PNG, JPEG, WebP, or GIF (animation is preserved), up to 4 MB and 4096×4096 pixels. File contents are verified — SVG and files whose bytes don't match their declared type are rejected. Returns an absolute HTTP(S) URL on the server's configured public origin; reference it as `media.url` when creating or editing a campaign. The image never changes the message's presentation — set `message.presentation` for that. Objects are immutable and retained; upload a new file to change an image.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file (PNG, JPEG, WebP, or GIF)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The stored media object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "media"
                  ],
                  "properties": {
                    "media": {
                      "type": "object",
                      "required": [
                        "url",
                        "contentType",
                        "width",
                        "height",
                        "sizeBytes"
                      ],
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "pattern": "^https?://",
                          "description": "Managed URL to reference as a message's `media.url`.",
                          "example": "https://galinum.example/media/projects/prj_123/media/9c2f0b7e-4d11-4c2a-a3d1-1c9a1a2b3c4d.png"
                        },
                        "contentType": {
                          "type": "string",
                          "example": "image/png"
                        },
                        "width": {
                          "type": "integer",
                          "example": 1200
                        },
                        "height": {
                          "type": "integer",
                          "example": 600
                        },
                        "sizeBytes": {
                          "type": "integer",
                          "example": 48213
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "Storage error — the image could not be stored; try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Media uploads are not available right now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "upload_campaign_media",
          "mode": "full",
          "annotations": {
            "readOnlyHint": false,
            "destructiveHint": false,
            "idempotentHint": false,
            "openWorldHint": true
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a campaign",
        "security": [
          {
            "secretKey": []
          }
        ],
        "description": "Creates a web in-app or email campaign behind the same campaign model. Use either one `message` (a direct communication, one variant named \"A\") or an explicit weighted `variants` array. Pass `launch: true` to start delivery, or leave a draft. Email launch requires a verified project domain and a matching from address. Optional `deliverFrom`/`deliverUntil` schedule a future start and automatic expiry.",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "Internal campaign name shown in the dashboard.",
                    "example": "Launch: CSV export"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "web_inapp",
                      "email"
                    ],
                    "default": "web_inapp",
                    "description": "Delivery channel. Email content uses subject, previewText, Markdown body, and an optional CTA."
                  },
                  "message": {
                    "$ref": "#/components/schemas/MessageInput",
                    "description": "Single-variant shorthand: creates one variant named \"A\". Mutually exclusive with `variants`."
                  },
                  "variants": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "$ref": "#/components/schemas/VariantInput"
                    },
                    "description": "Weighted variants for an A/B test (at most one control, at least one positive weight). Mutually exclusive with `message`."
                  },
                  "audience": {
                    "oneOf": [
                      {
                        "type": "null",
                        "description": "Everyone."
                      },
                      {
                        "type": "object",
                        "required": [
                          "kind"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "kind": {
                            "const": "all"
                          },
                          "reason": {
                            "type": "string",
                            "maxLength": 500
                          }
                        },
                        "description": "Everyone."
                      },
                      {
                        "type": "object",
                        "required": [
                          "kind",
                          "expression"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "kind": {
                            "const": "expression"
                          },
                          "expression": {
                            "$ref": "#/components/schemas/AudienceExpression"
                          },
                          "reason": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Concise note on why this audience was chosen or revised; stored on the immutable audience version."
                          }
                        },
                        "description": "Inline audience: validated, canonicalized, and stored as an immutable audience version the campaign pins."
                      },
                      {
                        "type": "object",
                        "required": [
                          "kind",
                          "segment"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "kind": {
                            "const": "segment"
                          },
                          "segment": {
                            "type": "string",
                            "description": "Segment id (seg_…) or machine key."
                          },
                          "version": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Pin a specific immutable version; omitted = the segment's current version, resolved atomically at write time."
                          }
                        },
                        "description": "Pin a saved segment's audience version. Archived segments are refused (409). A `reason` is rejected here — the pinned version carries its own revision reason."
                      }
                    ],
                    "description": "Canonical audience union. `null` or `{ \"kind\": \"all\" }` targets everyone. `{ \"kind\": \"expression\", \"expression\": { … }, \"reason\": \"…\" }` authors an inline audience stored as an immutable audience version. `{ \"kind\": \"segment\", \"segment\": \"id-or-key\", \"version\": n? }` pins a saved segment version (omitted version = current, resolved atomically; archived segments are refused). Check expressions first with POST /api/v1/audiences/check. Mutually exclusive with the deprecated `targeting` field."
                  },
                  "targeting": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Targeting"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Deprecated shorthand for the same audience semantics (strict trait equality + events seen/not_seen, ANDed). Still accepted; normalized into an immutable audience version. Prefer `audience`.",
                    "deprecated": true
                  },
                  "pages": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "maxLength": 256,
                      "example": "/settings/*"
                    },
                    "description": "Web in-app only. Path patterns limiting where the message may render. Email campaigns reject this field."
                  },
                  "goalId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "description": "Link the campaign to a goal in this project (400 if the goal doesn't exist here). Tracked events matching the linked goal's targetEvent automatically resolve the campaign's deliveries to converted once shown. Omit or pass null for no goal — direct communications never need one."
                  },
                  "launch": {
                    "type": "boolean",
                    "default": false,
                    "description": "Start the campaign instead of creating a draft. Email returns 409 until the project's sending domain is verified and its from address matches."
                  },
                  "deliverFrom": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ],
                    "description": "Requested delivery-window start: epoch milliseconds or ISO-8601 with an explicit timezone offset (e.g. 2026-08-01T09:00:00Z). Nothing is delivered before this instant; combine with `launch: true` to schedule a future start. Must be earlier than `deliverUntil`."
                  },
                  "deliverUntil": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ],
                    "description": "Requested delivery-window end: epoch milliseconds or ISO-8601 with an explicit timezone offset. Must be in the future; delivery stops automatically at exactly this instant."
                  }
                },
                "description": "Exactly one of `message` or `variants` is required.",
                "oneOf": [
                  {
                    "required": [
                      "message"
                    ],
                    "not": {
                      "required": [
                        "variants"
                      ]
                    }
                  },
                  {
                    "required": [
                      "variants"
                    ],
                    "not": {
                      "required": [
                        "message"
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created campaign, including its variant.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "campaign"
                  ],
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/CampaignDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "audience.kind segment referenced a segment or version that does not exist in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "An audience segment is archived, or an email launch is blocked because the project domain is unverified or its from address does not match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "description": "Message media could not be verified because storage was temporarily unavailable. Retry the same request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "create_campaign",
          "mode": "full",
          "annotations": {
            "readOnlyHint": false,
            "destructiveHint": true,
            "idempotentHint": false,
            "openWorldHint": true
          },
          "guidance": "Classify the request as direct, outcome-measured, or optimized before you write anything, then use the smallest mode the user asked for. A direct communication is one message: do not add a goal, variants, a delivery window, an evaluation, or optimization unless the user asked for them. Treat ordinary announcements as direct even when the product has goals. Use a single message field for direct communication. Set a delivery window only from timing the user gave you, or after you resolve the missing dates with them. If the user said draft, propose, or prepare, stop at draft and never launch. Launch only when the user gave explicit launch, send, or announce authority. If launch authority is ambiguous, stop at draft and ask. Avoid overlapping audiences and delivery periods with other running or scheduled campaigns. Before you create, launch, or update a campaign, read recent agent runs and query running and scheduled campaigns as two separate paginated searches. Read every page through pageCount for both statuses before treating their deduplicated union as a complete point-in-time snapshot. Repeat both searches immediately before the write. Never claim protection against concurrent campaign changes. If a create call is uncertain, never retry it: read campaigns back and confirm what exists before you act again."
        }
      },
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Returns the project's newest campaigns first in deterministic createdAt-then-id descending order, with delivery stats. Defaults to the first 100 campaigns, matching the previous unpaginated maximum.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "running",
                "paused",
                "expired",
                "ended"
              ]
            },
            "description": "Only return campaigns with this effective status. `scheduled` and `expired` derive from the delivery window; `running` excludes campaigns whose window hasn't opened or has ended, and `paused` excludes those whose window has ended."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Case-insensitive substring match on the campaign name."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "Items per page (max 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "The project's campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "campaigns",
                    "total",
                    "page",
                    "pageCount",
                    "evaluatedAt"
                  ],
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 42
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageCount": {
                      "type": "integer",
                      "example": 1
                    },
                    "evaluatedAt": {
                      "type": "integer",
                      "description": "Epoch milliseconds. The single instant used for filtering and for every `effectiveStatus` in this response."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "list_campaigns",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          },
          "guidance": "Use status or q to narrow the campaign set. Read every page through pageCount before treating the result as complete. When querying multiple statuses, deduplicate campaigns by ID before reasoning about overlap."
        }
      }
    },
    "/api/v1/campaigns/{id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get a campaign",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Returns one campaign with its variants and per-variant delivery stats.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "cmp_3ce6dba5-7f36-41f5-9327-d5cc3099ab77"
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "campaign",
                    "evaluatedAt"
                  ],
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/CampaignDetail"
                    },
                    "evaluatedAt": {
                      "type": "integer",
                      "description": "Epoch milliseconds. The instant used for this campaign's `effectiveStatus`."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No campaign with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Campaign not found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "get_campaign",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      },
      "patch": {
        "operationId": "updateCampaign",
        "summary": "Update a campaign",
        "security": [
          {
            "secretKey": []
          }
        ],
        "description": "Edits any subset of name, targeting, message content, variants, and the delivery window. `message` only works on single-variant campaigns; `variants` entries with an `id` update that variant, entries without one create a new variant (variants are never deleted — retire one with `weight: 0`; a campaign keeps at most 10 variants, exactly one control, and at least one positive weight). Extending `deliverUntil` into the future resumes an expired campaign (a paused one additionally needs the `launch` status action).",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "cmp_3ce6dba5-7f36-41f5-9327-d5cc3099ab77"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "Rename the campaign."
                  },
                  "audience": {
                    "oneOf": [
                      {
                        "type": "null",
                        "description": "Everyone."
                      },
                      {
                        "type": "object",
                        "required": [
                          "kind"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "kind": {
                            "const": "all"
                          },
                          "reason": {
                            "type": "string",
                            "maxLength": 500
                          }
                        },
                        "description": "Everyone."
                      },
                      {
                        "type": "object",
                        "required": [
                          "kind",
                          "expression"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "kind": {
                            "const": "expression"
                          },
                          "expression": {
                            "$ref": "#/components/schemas/AudienceExpression"
                          },
                          "reason": {
                            "type": "string",
                            "maxLength": 500,
                            "description": "Concise note on why this audience was chosen or revised; stored on the immutable audience version."
                          }
                        },
                        "description": "Inline audience: validated, canonicalized, and stored as an immutable audience version the campaign pins."
                      },
                      {
                        "type": "object",
                        "required": [
                          "kind",
                          "segment"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "kind": {
                            "const": "segment"
                          },
                          "segment": {
                            "type": "string",
                            "description": "Segment id (seg_…) or machine key."
                          },
                          "version": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Pin a specific immutable version; omitted = the segment's current version, resolved atomically at write time."
                          }
                        },
                        "description": "Pin a saved segment's audience version. Archived segments are refused (409). A `reason` is rejected here — the pinned version carries its own revision reason."
                      }
                    ],
                    "description": "Canonical audience union. `null` or `{ \"kind\": \"all\" }` targets everyone. `{ \"kind\": \"expression\", \"expression\": { … }, \"reason\": \"…\" }` authors an inline audience stored as an immutable audience version. `{ \"kind\": \"segment\", \"segment\": \"id-or-key\", \"version\": n? }` pins a saved segment version (omitted version = current, resolved atomically; archived segments are refused). Check expressions first with POST /api/v1/audiences/check. Mutually exclusive with the deprecated `targeting` field."
                  },
                  "targeting": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Targeting"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Deprecated shorthand for the same audience semantics (strict trait equality + events seen/not_seen, ANDed). Still accepted; normalized into an immutable audience version. Prefer `audience`.",
                    "deprecated": true
                  },
                  "pages": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "maxLength": 256,
                      "example": "/settings/*"
                    },
                    "description": "Web in-app only. Replace path patterns; null or [] clears them. Email campaigns reject this field."
                  },
                  "goalId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "description": "Link the campaign to a goal in this project; null unlinks. Linking takes effect for target events tracked from then on — it never rewrites past deliveries."
                  },
                  "message": {
                    "$ref": "#/components/schemas/MessageInput",
                    "description": "Replace the content of a single-variant campaign (400 if the campaign has more than one variant). Mutually exclusive with `variants`."
                  },
                  "variants": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "description": "Variant patches: entries with an `id` update that variant, entries without one create a new variant (`message` required). Mutually exclusive with `message`.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Variant to update; omit to create a new variant."
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 40
                        },
                        "message": {
                          "$ref": "#/components/schemas/MessageInput"
                        },
                        "weight": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "isControl": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "deliverFrom": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Replace the delivery-window start (epoch milliseconds or ISO-8601 with an explicit timezone offset); null clears it."
                  },
                  "deliverUntil": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Replace the delivery-window end (must stay after deliverFrom and, when set, be in the future); null clears it."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated campaign with fresh variants and stats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "campaign"
                  ],
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/CampaignDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Campaign not found — or audience.kind segment referenced a segment/version that does not exist in this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "audience.kind segment referenced an archived segment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "description": "Message media could not be verified because storage was temporarily unavailable. Retry the same request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "update_campaign",
          "mode": "full",
          "annotations": {
            "readOnlyHint": false,
            "destructiveHint": true,
            "idempotentHint": false,
            "openWorldHint": true
          },
          "guidance": "Change only what the user asked to change. Do not add a goal, variants, a delivery window, or optimization to a campaign that did not request them. Before you create, launch, or update a campaign, read recent agent runs and query running and scheduled campaigns as two separate paginated searches. Read every page through pageCount for both statuses before treating their deduplicated union as a complete point-in-time snapshot. Repeat both searches immediately before the write. Never claim protection against concurrent campaign changes. If an update is uncertain, read the campaign back before you retry."
        }
      }
    },
    "/api/v1/campaigns/{id}/status": {
      "post": {
        "operationId": "setCampaignStatus",
        "summary": "Launch, pause, or end a campaign",
        "security": [
          {
            "secretKey": []
          }
        ],
        "description": "Transitions a campaign's status. `launch` starts a draft or paused campaign, `pause` suspends delivery, `end` stops it permanently — ended campaigns cannot be restarted. On an expired campaign (past its `deliverUntil`) only `end` is allowed; extend `deliverUntil` to resume delivery instead.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "cmp_3ce6dba5-7f36-41f5-9327-d5cc3099ab77"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "launch",
                      "pause",
                      "end"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The campaign's new status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "running",
                        "paused",
                        "ended"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No campaign with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Campaign not found"
                }
              }
            }
          },
          "409": {
            "description": "The transition is invalid, or email launch is blocked until the project domain is verified and the from address matches it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "This campaign has ended."
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "set_campaign_status",
          "mode": "full",
          "annotations": {
            "readOnlyHint": false,
            "destructiveHint": true,
            "idempotentHint": false,
            "openWorldHint": true
          },
          "guidance": "This is the launch, pause, and end control. Launch only with explicit launch, send, or announce authority from the user. If that authority is ambiguous, leave the campaign in draft and ask. Before you create, launch, or update a campaign, read recent agent runs and query running and scheduled campaigns as two separate paginated searches. Read every page through pageCount for both statuses before treating their deduplicated union as a complete point-in-time snapshot. Repeat both searches immediately before the write. Never claim protection against concurrent campaign changes. If a launch call is uncertain, read the campaign status back before you act again."
        }
      }
    },
    "/api/v1/campaigns/{id}/deliveries": {
      "get": {
        "operationId": "listCampaignDeliveries",
        "summary": "List a campaign's deliveries",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Returns the campaign's per-user delivery feed (who received which variant, in what state), newest first.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "cmp_3ce6dba5-7f36-41f5-9327-d5cc3099ab77"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "sending",
                "retryable",
                "frequency_capped",
                "sent",
                "delivered",
                "shown",
                "opened",
                "clicked",
                "dismissed",
                "bounced",
                "complained",
                "unsubscribed",
                "failed",
                "converted"
              ]
            },
            "description": "Only return deliveries in this state. `frequency_capped` is a permanent campaign-email skip caused by the project recipient's rolling 24-hour limit."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Items per page (max 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign's deliveries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deliveries",
                    "total",
                    "page",
                    "pageCount"
                  ],
                  "properties": {
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Delivery"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 412
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageCount": {
                      "type": "integer",
                      "example": 9
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No campaign with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "list_campaign_deliveries",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/conversions": {
      "get": {
        "operationId": "getCampaignEventConversions",
        "summary": "Get exact event conversions by variant",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Computes an exact aggregate at one instant without returning raw event or delivery rows. A delivery converts when its user has at least one matching event at or after channel exposure and at or before evaluatedAt.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            },
            "description": "Tracked event name to evaluate."
          }
        ],
        "responses": {
          "200": {
            "description": "Exact per-variant post-exposure conversion aggregates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "campaignId",
                    "event",
                    "evaluatedAt",
                    "exposure",
                    "totals",
                    "variants"
                  ],
                  "properties": {
                    "campaignId": {
                      "type": "string"
                    },
                    "event": {
                      "type": "string"
                    },
                    "evaluatedAt": {
                      "type": "integer",
                      "description": "Epoch milliseconds shared by every aggregate in this response."
                    },
                    "exposure": {
                      "type": "string",
                      "enum": [
                        "shownAt",
                        "deliveredAt"
                      ]
                    },
                    "totals": {
                      "$ref": "#/components/schemas/CampaignConversionCounts"
                    },
                    "variants": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/CampaignConversionCounts"
                          },
                          {
                            "type": "object",
                            "required": [
                              "variantId",
                              "variantName"
                            ],
                            "properties": {
                              "variantId": {
                                "type": "string"
                              },
                              "variantName": {
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Campaign not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "get_campaign_event_conversions",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      }
    },
    "/api/v1/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Browses the project's identified end-users. Filters combine (AND). Use it to ground targeting in traits and activity that actually occur in your data.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            },
          "description": "Case-insensitive substring match on the external user id or stored trait JSON."
          },
          {
            "name": "traitKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Trait to filter on; must be provided together with `traitValue`."
          },
          {
            "name": "traitValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Exact match on a scalar trait's text form. Only stored string, number, or boolean values match; must be provided together with `traitKey`."
          },
          {
            "name": "activeSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only users last seen at or after this instant. Epoch milliseconds or an ISO-8601 date."
          },
          {
            "name": "firstSeenSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only users first seen at or after this instant. Epoch milliseconds or an ISO-8601 date."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Items per page (max 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "The project's users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "users",
                    "total",
                    "page",
                    "pageCount"
                  ],
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EndUser"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 412
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageCount": {
                      "type": "integer",
                      "example": 9
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "list_users",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      }
    },
    "/api/v1/users/summary": {
      "get": {
        "operationId": "getUserSummary",
        "summary": "Get the user summary",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Returns total, active, and new end-user counts. Active uses `lastSeenAt` and new uses `firstSeenAt`, both measured from `startAt`.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d"
              ],
              "default": "7d"
            },
            "description": "Only `7d` is supported."
          }
        ],
        "responses": {
          "200": {
            "description": "The user summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": false,
          "reason": "not-exposed"
        }
      }
    },
    "/api/v1/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Returns one end-user by Galinum id (`eu_…`) or by your own external user id.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "A Galinum end-user id or your external user id.",
            "example": "user_123"
          }
        ],
        "responses": {
          "200": {
            "description": "The user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "user"
                  ],
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/EndUser"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No user with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "get_user",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      }
    },
    "/api/v1/users/{id}/events": {
      "get": {
        "operationId": "listUserEvents",
        "summary": "List a user's events",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Browses one end-user's tracked events, newest first. The user is resolved inside the authenticated project first.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "A Galinum end-user id or your external user id.",
            "example": "user_123"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Items per page (max 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "The user's events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "events",
                    "total",
                    "page",
                    "pageCount"
                  ],
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 412
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageCount": {
                      "type": "integer",
                      "example": 9
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No user with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": false,
          "reason": "not-exposed"
        }
      }
    },
    "/api/v1/users/{id}/deliveries": {
      "get": {
        "operationId": "listUserDeliveries",
        "summary": "List a user's deliveries",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Browses the campaign deliveries sent to one end-user, newest queued first. The user is resolved inside the authenticated project first.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "A Galinum end-user id or your external user id.",
            "example": "user_123"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page (max 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "The user's deliveries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deliveries",
                    "total",
                    "page",
                    "pageCount"
                  ],
                  "properties": {
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserDelivery"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 12
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageCount": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No user with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": false,
          "reason": "not-exposed"
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Browses the project's tracked events, newest first. Filters combine (AND).",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "description": "Exact event name."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Case-insensitive substring match on the event name. Mutually exclusive with `name`."
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "Galinum end-user id (`eu_…`)."
          },
          {
            "name": "externalUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "Your product's user id."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events at or after this instant. Epoch milliseconds or an ISO-8601 date."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events at or before this instant. Epoch milliseconds or an ISO-8601 date."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Items per page (max 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "The project's events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "events",
                    "total",
                    "page",
                    "pageCount"
                  ],
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 412
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageCount": {
                      "type": "integer",
                      "example": 9
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "list_events",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      }
    },
    "/api/v1/goals": {
      "post": {
        "operationId": "createGoal",
        "summary": "Create a goal",
        "security": [
          {
            "secretKey": []
          }
        ],
        "description": "Creates a business goal for the optimized-communication loop: a target event to move, binding guardrails, and an approval mode. Goals are optional — direct communications don't need one.",
        "tags": [
          "Goals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GoalInput"
                  },
                  {
                    "required": [
                      "name"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created goal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goal"
                  ],
                  "properties": {
                    "goal": {
                      "$ref": "#/components/schemas/Goal"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "create_goal",
          "mode": "full",
          "annotations": {
            "readOnlyHint": false,
            "destructiveHint": false,
            "idempotentHint": false,
            "openWorldHint": true
          },
          "guidance": "Create a goal only when the user asked to measure an outcome or to optimize toward one. Never invent a goal to accompany an ordinary announcement."
        }
      },
      "get": {
        "operationId": "listGoals",
        "summary": "List goals",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Returns the project's goals (up to 100, newest first).",
        "tags": [
          "Goals"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived"
              ]
            },
            "description": "Only return goals with this status."
          }
        ],
        "responses": {
          "200": {
            "description": "The project's goals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goals"
                  ],
                  "properties": {
                    "goals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Goal"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "list_goals",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      }
    },
    "/api/v1/goals/{id}": {
      "get": {
        "operationId": "getGoal",
        "summary": "Get a goal",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Returns one goal.",
        "tags": [
          "Goals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "goal_1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d"
          }
        ],
        "responses": {
          "200": {
            "description": "The goal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goal"
                  ],
                  "properties": {
                    "goal": {
                      "$ref": "#/components/schemas/Goal"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No goal with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "get_goal",
          "mode": "readonly",
          "annotations": {
            "readOnlyHint": true,
            "destructiveHint": false,
            "idempotentHint": true,
            "openWorldHint": true
          }
        }
      },
      "patch": {
        "operationId": "updateGoal",
        "summary": "Update a goal",
        "security": [
          {
            "secretKey": []
          }
        ],
        "description": "Edits any subset of the goal's fields. Explicit `null` clears `description`, `targetEvent`, or `guardrails`. Set `status: \"archived\"` to retire a goal.",
        "tags": [
          "Goals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "example": "goal_1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GoalInput"
                  },
                  {
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "archived"
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated goal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goal"
                  ],
                  "properties": {
                    "goal": {
                      "$ref": "#/components/schemas/Goal"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No goal with this id exists in the authenticated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "update_goal",
          "mode": "full",
          "annotations": {
            "readOnlyHint": false,
            "destructiveHint": true,
            "idempotentHint": false,
            "openWorldHint": true
          },
          "guidance": "Change only the goal fields the user asked to change. Never introduce optimization the user did not request."
        }
      }
    },
    "/api/v1/agent-runs": {
      "post": {
        "operationId": "createAgentRun",
        "summary": "Log an agent run",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Records one agent decision — its input, output, and rationale — so the dashboard's agent feed shows what ran and why. Set `goalId` when the run serves a goal; omit it for direct communications.",
        "tags": [
          "Agent runs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Step kind, e.g. observation, proposal, launch, evaluation, conclusion.",
                    "example": "launch"
                  },
                  "input": {
                    "type": [
                      "object",
                      "array",
                      "null"
                    ],
                    "description": "What the step looked at (max 16 KB serialized)."
                  },
                  "output": {
                    "type": [
                      "object",
                      "array",
                      "null"
                    ],
                    "description": "What the step produced (max 16 KB serialized)."
                  },
                  "rationale": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 4000
                  },
                  "goalId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "description": "Must be a goal in this project. Omit for direct communications."
                  },
                  "campaignId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "description": "First-class campaign identity. Required for hosted evaluate, propose, mutate, and approval runs."
                  },
                  "idempotencyKey": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Unique per project. A replay returns the original run with 200."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The original logged run for an idempotent replay.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run"
                  ],
                  "properties": {
                    "run": {
                      "$ref": "#/components/schemas/AgentRun"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "The logged run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "run"
                  ],
                  "properties": {
                    "run": {
                      "$ref": "#/components/schemas/AgentRun"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mcp": {
          "exposed": true,
          "tool": "create_agent_run",
          "mode": "full",
          "annotations": {
            "readOnlyHint": false,
            "destructiveHint": false,
            "idempotentHint": false,
            "openWorldHint": true
          },
          "guidance": "Log material decisions, proposals, and launches here. Reuse the same idempotency key when you retry, so one decision never produces two run records."
        }
      },
      "get": {
        "operationId": "listAgentRuns",
        "summary": "List agent runs",
        "security": [
          {
            "secretKey": []
          },
          {
            "hostedAgentKey": []
          }
        ],
        "description": "Browses the project's agent-run history, newest first — the agent's own memory of what it already did.",
        "tags": [
          "Agent runs"
        ],
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Only runs of this kind."
          },
          {
            "name": "goalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Only runs serving this goal."
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only runs for this campaign."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Items per page (max 100)."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "names"
              ]
            },
            "description": "Set to `names` to add a top-level `references` map of goal and campaign names for the returned runs."
          }
        ],
        "responses": {
          "200": {
            "description": "The project's agent runs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "runs",
                    "total",
                    "page",
                    "pageCount"
                  ],
                  "properties": {
                    "runs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentRun"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 412
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageCount": {
                      "type": "integer",
                      "example": 9
                    },
                    "references": {
                      "$ref": "#/components/schemas/AgentRunReferences"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
[...]
